@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.orgs-container{
    display: flex;
    width: 92%;
    height: max-content;
    justify-self: center;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.card{
    width: 300px;
    height: max-content;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
    background-color: #e3e4e4;
    color: #454a70;
    border-radius: .5rem;
}

.org-logo{
    height: 300px;
    border-radius: .5rem .5rem 0 0;
    background-color: #fff;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .5rem .5rem 0 0;
}

.org-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    padding: 20px;
    gap: 20px;
}

.name{
    font-family: Volkhov;
    font-weight: 400;
    font-size: 28px;
}

.desc{
    font-size: 15px;
}